@model tarimciyiz.Models.Urun

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/paylasim/_layoutAdmin.cshtml";
}

<h2>Ürün Ayrıntıları</h2>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.kategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marka.markaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka.markaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunFiyat) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunFiyat) TL
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.urunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
