@model IEnumerable<tarimciyiz.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/paylasim/_layoutAdmin.cshtml";
}

<h2>Kategori Listesi</h2>

<p>
    @Html.ActionLink("Yeni Kategori Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.kategoriID }) |
            @Html.ActionLink("Ayrıntı", "Details", new { id=item.kategoriID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.kategoriID })
        </td>
    </tr>
}

</table>
