@using tarimciyiz.Models;
@model Urun
@{
    ViewBag.Title = "UrunDetayı";
    Layout = "~/Views/paylasim/_LayoutUserMenuYok.cshtml";
}



<div class="product-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="the-slider product-big-image" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".product-image-arrows-right" data-tesla-prev=".product-image-arrows-left" data-tesla-container=".slide-wrapper">
                    <ul class="product-image-arrows">
                        <li class="product-image-arrows-left"><i class="icon-517" title="left"></i></li>
                        <li class="product-image-arrows-right"><i class="icon-501" title="right"></i></li>
                    </ul>
                    <ul class="slide-wrapper">
                        @foreach (Resim item in ViewBag.Resimler)
                        {
                            <li class="slide">
                        <img src="/Resimler/@item.resimAdi" alt="@item.resimAdi " /></li>
                        }
                    </ul>
                    <div class="row">
                        <ul class="the-bullets-dots" data-tesla-plugin="bullets">
                            @foreach(Resim item in ViewBag.Resimler)
                            {
                            <li>
                            <div class="col-md-2 col-xs-2"><img src="~/Resimler/@item.resimAdi" alt="@item.resimAdi" /></div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>@Model.urunAdi</h2>
             
                <div class="clear"></div>
                <div class="quantity">                 
                    <input type="number" step="1" min="1" name="Adet" value="1" title="Adet" class="input-text qty text">         
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-price">Fiyat : @Model.urunFiyat</div>
                    </div>
                    <div class="col-md-6">
                        <a href="/Home/Sepetim" class="button-2">Sepete Ekle</a>
                        <a href="#" class="button-3">Beğendiklerime Ekle</a>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Açıklama</a></li>
                    <li class=""><a href="#reviews" data-toggle="tab">Yorum</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="description">
                        <p>@Model.urunAciklama</p>
                        
                        <ul class="social-share">
                            <li><span>Share</span></li>
                            <li><a href="#"><i class="icon-160" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-138" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-106" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-169" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-163" title="161"></i></a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="reviews">
                        <div class="product-review">
                            <div class="product-review-avatar">
                                <img src="images/elements/testimonial-avatar.jpg" alt="avatar" />
                            </div>
                            <div class="product-review-author">Jane Doe <span>12 Jan</span></div>
                            <p>I like the item very much, it is so on my size and it looks great.</p>
                        </div>

                        <div class="product-review">
                            <div class="product-review-avatar">
                                <img src="images/elements/testimonial-avatar.jpg" alt="avatar" />
                            </div>
                            <div class="product-review-author">Jane Doe <span>10 Jan</span></div>
                            <p>It is so on my size, i like the item very much, it is so on my size and it looks great i like it a lot It is so on my size, i like the item very much, it is so on my size and it looks great.</p>
                        </div>
                        <a href="#" class="button-6" data-toggle="modal" data-target="#write-review">Write a review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

